/* Impostazioni base */
body {
  font-family: "DM Sans", sans-serif;
  margin: 20px;   /*il margine è lo spazio esterno*/
  padding: 0px;   /*il padding è lo spazio interno*/
  line-height: 1.5;  /*altezza della line(spazio tra un riga e l'altra)*/
  background-color: #bcffd0;
  text-align: center;
}


/* NAVBAR */
nav {
  padding: 15px;
  background-color: #9cffb9;
  text-align: center;   /*altri valori sono left, right, justify*/
}

nav a {
    text-decoration: none;
    margin: 0 15px 25px;
    font-weight: bold;
    font-size: 24px;
    transition: color 0.5s;  /*ritarda di 5sec il cambia di colore quando ci passo sopra*/
}

nav a:hover {
    color: #37b137;
}



/* SEZIONI */
section {
  padding: 2.5vw 1.5vw;
  background-color: #cefddc;
  border: 1px dotted  #00ff4c;
}

section:nth-child(even) {
    background-color: #a0fcbb;   /* nth-child seleziona gli elementi in base alla posizione*/
}



/* TITOLI */
h1 {
   margin-top: 0px;
   padding: 1.5vw;
   font-size: 4vw;   /* 5% della larghezza viewport */
}

h2 {
   margin-top: 0px;
   padding: 1vw;
}

h3 {
   margin-top: 0px;
   padding: 1vw;
}

/* PARAGRAFI */
p {
    margin: 1em 0;    /* em unità di misura relativa alla misura del font 1em = 16px*/
    font-size: 1.5vw;
}


/* LISTE */
ul, ol {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* LINK */
a {
    text-decoration: none;
    color: black;
}

a:hover {
     color: #37b137;
     font-weight: bold;
}


/* HEADER */
header {
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 2; /*specifica l'ordine di sovrapposizione degli elementi*/
    border-bottom: 4px solid #00ff4c;
    margin-bottom: 20px;
}


/* MAIN */
main {
    max-width: 900px;
    margin: auto;
    padding: 2.5vw;
}

#collegamento {
    padding-bottom: 20px;
}


/* FOOTER */
footer {
    background-color: #9cffb9;
    padding: 2.5em;
    border-radius: 10px;
    border-top: 4px solid #00ff4c;
}


img {
    width: 40%;
    height: auto;
}


/* STILI TABELLA */
table {
    width: 100%;
    border-collapse: collapse; /* rimuove gli spazi tra le celle */
    margin: 20px 0;
    border: 2px dotted #00ff4c;
    background-color: #cefddc;
}
.titolo-tab {
  margin-top: 15px;
}

th, td {
   border: 2px dotted #00ff4c;
    padding: 8px;
}

th {
padding: 15px;
font-size: 18px;
font-weight: bold;
background-color: #67ff95;
}

.div-box {
     border: 2px dotted #00ff4c;
     padding: 15px;
     margin: 15px;
    background-color: #cefddc;
}

.div-box div {
  border: 1px dotted #36fa71;
}

.box1 {
    padding: 25px;
}

.box2 {
    background-color: #b9f9cc;
}

.box3 {
    background-color: #8dfcae;
}

.box4 {
    background-color: #67ff95;
}

div {
    border: 1px solid black;
}

/* faccio overwrite del colore del pulsante di Bootstrap con !important */
.btn-dark {
    background-color: green !important;
}


.btn-custom {
    background-color: yellow !important;
    font-size: 3vw !important;
}





/* media query (dalla più grande alla più piccola) */

/* tablet grande da 1200px in su */
@media (max-width: 1200px) {
    body {
        background-color: #00ff4c;
    }
}


/* tablet piccolo */
@media (max-width: 992px) {
    body {
        background-color: #28ad50;
    }
}



@media (max-width: 768px) {
    body {
        background-color: #d5f4de;
    }
}


@media (max-width: 576px) {
    body {
        background-color: #0d7029;
    }
}